* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(216, 208, 224);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(216, 174, 239);
}